.form-container {
    width: 500px;
    margin: 0 auto;
    background: rgba(55, 209, 228, 0.1);
    border-radius: 10px;
    padding: 2em;
    text-align: left;
    margin-top: 5em;
}

.form-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;
}

.form-text-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;    
    color: #9489DB;
}

.form-text-button {
    background-color: #9489DB;
    border-radius: 50%;
    color: white;
    border: none;
    margin: 0.5em;
}

.form-text-input {
    border: none;   
    border-radius: 3px;
    padding: 0.5em;
}

.form-text-checkbox {
    display: flex;
    flex-direction: row;
    
    margin: 1.1em 0;
    align-items: center;
}

.form-checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
    align-items: center;
}

.form-checkbox {
    margin-left: 2em;
    margin-top: 0.3em;
    
}

.form-button {
    text-align: center;
    margin-top: 2em;
}
.form-button-start {
    margin-left: auto;
    padding: 10px 15px;
    background: #9489db;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: none;
}