@import 'styles/theme';

.drawing {
    &.center{
      text-align:center;
      font-size: 60px;
      font-weight:700;
    }
    &.container {
      padding: 1.5em;
      border-radius: $borderRadius;
      display: flex;
      flex-direction: column;
    }
    #canvas{
      border: 1px solid #9489DB;
      border-radius: 25px;  
      min-width: 35em;
      min-height: 30em;
    }
    &.icon{
      color: #9489db !important;
      border: #9489db solid 1px !important;
      padding: .8em;
      border-radius: 15px;
      width: 3.5em;
      height: 3.5em;   
      margin-right: 1em;
    }
    &.dialog{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &.dialog-title{
      text-align: center;
      color: black;
    }
    &.h1{
      text-align: center;
      margin-bottom: 70px;
      margin-top: 5px;
    }
    &.underline{
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
    }
    &.icons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      justify-content: center;

    }
    &.timer{
      margin-bottom: 1em;
      margin-left: 3.5em;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      
    }
    &.canvas-chatbox {
      display: flex;
      flex-direction: row;
      align-content: space-between;
    }
    &.boxes {
      margin-bottom: 1em;
      margin-left: 1em;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5em;
      border: 1px solid transparent;
      border-radius: 10px;
      background: linear-gradient(
            96.78deg,
            #fef7f8 -6.3%,
            #fbf6fa 35.9%,
            #e9f2f5 100.12%
          )
          padding-box,
        linear-gradient(
            114.59deg,
            #f06464 1.6%,
            #f277d0 32.79%,
            #9489db 71.64%,
            #37d1e5 101.91%,
            #5acfb9 131.52%
          )
          border-box;     
    }
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  box-shadow: none !important;
}

.guessing-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.drawing-guess {
  min-height: 2em;
  border: 1px solid #9489DB;
  border-radius: 25px;
  margin-left: 1em;
}

.submit-button {
  margin-left: 2em !important;
  background-color: #9489DB !important;
  color: white !important;
  border-radius: 25px !important;
}

.word-to-guess {
  background-color: #9489DB !important;
  padding: 1em !important;
  padding-right: 2em !important;
  padding-left: 2em !important;
  margin-left: 1em !important;
  margin-bottom: 1em !important;
  color: white !important;
  border-radius: 25px !important;
}

.word-to-guess-wrapper {
  border: 1px solid transparent;
  padding: 1.5em;
  border-radius: 10px;
  background: linear-gradient(
            96.78deg,
            #fef7f8 -6.3%,
            #fbf6fa 35.9%,
            #e9f2f5 100.12%
          )
          padding-box,
        linear-gradient(
            114.59deg,
            #f06464 1.6%,
            #f277d0 32.79%,
            #9489db 71.64%,
            #37d1e5 101.91%,
            #5acfb9 131.52%
          )
          border-box;     
    }
  
.word-to-guess-title {
  text-align: center;
  color: #9489db;
  font-size: 30px !important;
  margin-bottom: 1em !important;
}

.timer {
  display: flex;
  z-index: -1;
}