@import 'styles/theme';

.drawing {
    &.center{
      text-align:center;
      font-size: 60px;
      font-weight:700;
  
    }
    &.container {
      margin-top: 2%;
      padding: 1.5em;
      border-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      // align-items: center;
    }
    #canvas{
      // flex: 3;
      border: 1px solid #9489DB;
      border-radius: 25px;  
      // align-self: center;
    }
    &.settings {
      align-self: center;
      width: 50vw;
      text-align: center;
    }
    &.circles {
      // float: right;
      
    }
    &.undo{
      color: #000;
    }
    &.redo{
      color: #000;
    }
    &.eraser {
      color: black;
    }
    &.trash {
      color: black;
      // float: left;
    }
    &.pen{
      color: black;
    }
    &.palette{
      color: black;
    }
    &.dialog{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &.dialogtitle{
      text-align: center;
      color: black;
    }

    &.h1{
      text-align: center;
      margin-bottom: 70px;
      margin-top: 5px;
    }
    &.h2{
      text-align: center;
      text-decoration: underline;
    }
    &.icons{
      height:1.4em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &.timer{
      position:absolute;
      right: 5%;
      top: 10%;
    }
    &.canvas-chatbox {
      display: flex;
      flex-direction: row;
      align-content: space-between;
    }
    &.chatbox {
      // flex: 1;
    }

    &.bubble {
      width: 120px; 
      height: 80px; 
      background: #5ac4ed;
      position: absolute;
      left:100px;
      -moz-border-radius: 10px; 
      -webkit-border-radius: 10px; 
      border-radius: 10px;
   }

    &.scores {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 18px;
      position: absolute;
      left: 5%;
      top: 10%;
      padding: 1.5em;
      border: 1px solid transparent;
      border-radius: 10px;
      background: linear-gradient(
            96.78deg,
            #fef7f8 -6.3%,
            #fbf6fa 35.9%,
            #e9f2f5 100.12%
          )
          padding-box,
        linear-gradient(
            114.59deg,
            #f06464 1.6%,
            #f277d0 32.79%,
            #9489db 71.64%,
            #37d1e5 101.91%,
            #5acfb9 131.52%
          )
          border-box;    
      
    }
    &.classification {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 18px;
      position: absolute;
      left: 80%;
      top: 40%;
      padding: 1.5em;
      border: 1px solid transparent;
      border-radius: 10px;
      background: linear-gradient(
            96.78deg,
            #fef7f8 -6.3%,
            #fbf6fa 35.9%,
            #e9f2f5 100.12%
          )
          padding-box,
        linear-gradient(
            114.59deg,
            #f06464 1.6%,
            #f277d0 32.79%,
            #9489db 71.64%,
            #37d1e5 101.91%,
            #5acfb9 131.52%
          )
          border-box;    
      
    }

    
}

