@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profile {
  &.center{
    text-align:center;
    font-size: 60px;
    font-weight:700;

  }
  &.container {
    margin-top: 10%;
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    // min-height: 500px;
    flex-direction: column;

    // margin-top: 20%;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;

  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  &.button{
    	padding:10px
    }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 500;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.25);
    color: $textColor;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.center{
      text-align:center;
      font-size: 60px;
      font-weight:700;

    }
 
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
//     width: 20em;
//     max-width: 30em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
}

.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.password {
    font-weight: 300;
    margin-left: 5px;

  }
  &.username {
    font-weight: 500;
    color: $accent;
  }
  &.creation_date{
    font-weight: 500;
    color: $accent;
  }
  &.birthday {
    font-weight: 500;
    color: $accent;
  }
  &.logged_in{
    font-weight: 500;
    color: $accent;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
    color: $accent;
  }


}