@import 'styles/theme';

.register {
//   &.login{
//     text_align:left;
//   }
//   &.home{
//     text_align:right;
//   }
  &.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    max-width: 30em;
    height: 30em;
    font-size: 18px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
//     align-items: center;
  }
  &.center{
    text-align:center;
    font-size: 60px;
    font-weight:700;

  }
  &.container {
 
    margin-top: 20vh;
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 30em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.25);
    color: $textColor;
  }
  &.email {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
 
    background: transparentize(white, 0.25);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}