@import 'styles/theme';

.loader-wrapper {
width: 60px;
height: 60px;
}

.loader{
box-sizing: border-box;
width: 100%;
height: 100%;
border: 10px solid transparent;
border-top-color:#F277D0;
border-bottom-color:#9489DB;
border-radius: 50%;
animation: rotate 5s linear infinite;
}

.loader-inner{
border-top-color:#37D1E5;
border-bottom-color:#5ACFB9;
animation-duration:2.5s;
}

@keyframes rotate{
0%{
  transform:scale(1) rotate(360deg);
}

50%{
  transform:scale(.8) rotate(-360deg);
}

100%{
  transform:scale(1) rotate(360deg);
}

}
  
//#F277D0 -1.91%, #9489DB 46.6%, #37D1E5 112.6%, #5ACFB9